@media (max-width: 768px) {
  .header__menu {
    display: none;
  }

  .content__header {
    width: 97%;
  }

  .btn__bottom {
    flex-direction: column;
  }

  button {
    margin: 7px 0;
  }
}

@media (max-width: 425px) {
  html {
    font-size: 14px;
  }

  button {
    font-size: 12px;
  }

  .container {
    width: 90%;
  }
}
